{% if section.settings.product != blank %}
  {% assign product = section.settings.product %}
  <div class="featured-product-wrapper">
    {% render 'product-content', product: product %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Featured Product Block",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Featured Product Block"
    }
  ]
}
{% endschema %}
